body{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 155vh;
	font-family: 'Fredericka the Great', cursive;
	background-image: url(https://i.ytimg.com/vi/xvvvApk5I2U/maxresdefault.jpg);
	background-attachment: fixed;
}

					/*Header*/
#header_index{
	background-color: rgba(138, 121, 117, 0.6);
	height: 20vh;
	clip-path: polygon(0 0, 100% 0, 100% 29%, 0 100%, 0 100%, 0% 50%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: -16.2%;
}

#divtitle{
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
}

#title{
	height: 9.2vh;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 4vh;
}
header h1{
	margin-top: 12%;
}


				/*Menu header*/
#h_main{
	width: 100%;
	height: 5%;
	background-color: transparent;
	display: flex;
	margin-bottom: 5%;
	z-index: 999;
}

#h_container{
	background-color: red;
	height: 100%;
}

nav{
	color: #FFFFFF;
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li{
	margin: 0;
	padding: 0;
	float: left;
	width: 200px;
	height: 40px;
	background-color:rgba(0, 0, 0, 0.8);
	line-height: 40px;
	text-align: center; 
}

#h_main nav ul li a{
	display: block;
	text-decoration: none;
	color: gray;
}

#h_main nav ul li a:hover{
	background-color: white;
	opacity: 0.5;
}

#h_main nav ul li ul li{
	display: none;
}

#h_main nav ul li:hover ul li{
	display: block;
}

					/*Main*/

#main_index{
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	height: 70vh;
	margin-bottom: 2%;
}




#main_1{
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 30%;
	text-align: center;
}

#main_2{
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	margin-top: 2%;
	display: flex;
	flex-direction: column;
	height: 85%;
	width: 40%;
}

#main_3{
	background-color: rgba(255, 255, 255, 0.8);
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 30%;

}


#footer_index{
	background-color: green;
	height: 35vh;
}



footer{
	background-color: rgba(138, 121, 117, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

#container1_footer{
	background-color: #6D5F5C;
	height: 25%;
}

#icone{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: gray;
}


#icone a:hover{
	color: black;
}

footer a{
	text-decoration: none;
	color: white;
}


#container2_footer{
	display: flex;
	justify-content: center;
	background-color: rgba(138, 121, 117, 0.5);
	height: 25%;
}

#footer_centre_titre{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 40%;
	font-size: 5.5vh;
}


#container3_footer{
	background-color: #330000;
	height: 25%;
	text-align: center;
	color: white;
}


		/*Inscription*/


#body_inscription{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height:50vh;
	font-family: 'Fredericka the Great', cursive;
	background-image: url(https://i.ytimg.com/vi/xvvvApk5I2U/maxresdefault.jpg);
	background-attachment: fixed;
}


#header_inscription{
	background-color: rgba(138, 121, 117, 0.6);
	height: 20vh;
	clip-path: polygon(0 0, 100% 0, 100% 29%, 0 100%, 0 100%, 0% 50%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: -9%;
}



#main_inscription{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70vh;
}

#centre_main{
	width: 100%;
	height: 50;
	display: flex;
	justify-content: center;
}

#containerb{
	background-color: rgba(61, 60, 66, 0.6);
	font-size: 4vh;
	display: flex;
	justify-content: center;
	text-align: center;
	color: white;
}


thead{
	font-family: monospace;
	font-size: 3vh;
	color: white;
	letter-spacing: 2px;
	background-color: rgba(61, 60, 66, 0.6);
	
}

tbody{
	color: white;
	font-size: 2.3vh;
	background-color: rgba(61, 60, 66, 0.6);

}


#main_admin{
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 70vh;
}